DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=pg123
DATABASE_HOST=localhost
DATABASE_NAME="nestjs-blog"
DATABASE_SYNCHRONIZE=true
DATABASE_AUTO_LOAD_ENTITIES=true


###
JWT_SECRET=4549d1cff6e9e1cbe691076ba14787053c973bc9fe7b4a41ad8cc1f9fc1b0ec6
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=3600s